*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
	box-sizing: border-box;
}


body{
	background-image: linear-gradient(120deg,#686de0,#7ed6df);
	min-height: 100vh;
	transition: all 1s ease;
}

nav{
	width: 100%;
	background: rgba(255,255,255,0.3);
	padding: 10px;
	transition: all 1s ease;
}
nav div{
	max-width: 800px;
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tlacitko{
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	background: rgba(0,0,0,0.3);	
	color: rgba(255,255,255,0.7);
	transition: all 0.3s;
}

.tlacitko:hover{
	background: rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.7);

}

.container div{
	position: relative;
}

.plus{
	outline: none;
	border:none;
	cursor: pointer;
	background: rgba(0,0,0,0.3);	
	color: rgba(255,255,255,0.7);
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 22.5px;
	position: absolute;
	top: -7px;
	right: 0px;
	transition: all 0.4s ease;
}

.plus:hover{
	background: rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.7);

}

nav h1{
	color: rgba(0,0,0,0.45);
	font-size: 28px;
}

.container{
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

.txtb{
	width: 100%;
	color: #fff;
	border: none;
	border-bottom: 2px solid #000;
	background: transparent;
	padding: 10px;
	outline: none;
	font-size: 18px;
}
.txtb::placeholder{
	color:white;
	opacity: 0.5;
}

h2{
	text-align: center;
	text-transform: lowercase;
	font-style: italic;
	font-size: 14px;
	color: rgba(200,200,200,0.5);
	font-weight: 200;
	margin: 15px 0;
}

.ukol{
	width: 100%;
	border-radius: 10px;
	background: rgba(255,255,255,.5);
	padding: 18px;
	margin: 6px 0;
	overflow: hidden;
	text-overflow: clip;	
}

.ukol i{
	float: right;
	margin-left: 20px;
	cursor: pointer;
}

.hotove .ukol{
	background: rgba(0,0,0,.3);
	color: #fff;

}

.fa-trash-alt:hover{
	color: #e74c3c;
}

.fa-check:hover{
	color: #2ecc71;
}

.nehotove{
	min-height: 150px;
}

.hotove{
	min-height: 150px;
}

.dark{
	background: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.5);
	transition: all 1s ease;
}
.darktelo{
	background: rgba(0,0,0,0.5);
	transition: all 1s ease;
}

@media screen and (max-width: 500px) {
	.container{
		max-width: 100%;
	}
}